rs-dygraphs-renderer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;

  .graph-header {
    min-height: 32px;
    text-align: left;
  }

  .dygraph-legend {
    > span {
      display: block;
    }
  }

  .audit-line {
    $line-thickness: 2px;
    $flag-size: 13px;
    position: absolute;
    border-left: #0A83F6 $line-thickness dashed;
    &:after {
      position: absolute;
      top: 0px;
      left: -$line-thickness;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: $flag-size solid #0A83F6;
      border-right: $flag-size solid transparent;
    }
  }
}
