<div layout="column" layout-margin layout-fill>
  <div layout>
    <div flex>
      <h3>Chart settings</h3>
      <div layout layout-margin>
        <b>Select metrics:</b>
        <label ng-repeat="metric in $ctrl.availableMetrics">
          <input type="checkbox" ng-click="$ctrl.toggleMetric(metric)">
          {{:: metric.name }}
        </label>
      </div>
      <div layout layout-margin>
        <label for="span-selector"><b>Time Span:</b></label>
        <select ng-model="$ctrl.chartOptions.span" id="span-selector" ng-options="k for (k,v) in $ctrl.timeSpans"></select>
      </div>
      <div layout layout-margin>
        <label for="from-selector"><b>Starting From:</b></label>
        <select ng-model="$ctrl.chartOptions.from" id="from-selector" ng-options="k for (k,v) in $ctrl.startingPoints"></select>
      </div>
      <div layout layout-margin>
        <input type="checkbox" ng-model="$ctrl.chartOptions.paused" id="pause"><label for="pause"><b>Pause</b></label>
      </div>
    </div>
    <div flex>
      <h3>Renderer settings</h3>
      <div layout layout-margin>
        <label><b>Preset:</b></label>
        <select ng-model="$ctrl.rendererPreset">
          <option value="minimal">minimal</option>
          <option value="full">full</option>
        </select>
      </div>
    </div>
  </div>
  <rs-chart flex options="$ctrl.chartOptions">
    <rs-dygraphs-renderer preset="$ctrl.rendererPreset"></rs-dygraphs-renderer>
  </rs-chart>
</div>
