@import
  "../node_modules/bourbon/app/assets/stylesheets/bourbon",
  "../node_modules/designkit-typography/src/designkit-typography",
  "../node_modules/designkit-colors/src/designkit-colors",
  "../node_modules/designkit-layout/src/scss/designkit-layout",
  "../node_modules/designkit-utilities/src/designkit-utilities",
  "../styles.scss"
;

html, body {
  width: 100%;
  height: 100%;
}

body > ui-view {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;

  > [layout-fill] {
    height: 100%;
  }
}

.layout-header {
  height: 50px;
  background: $header-flat;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;

  span {
    margin-left: 10px;
  }
}

.layout-sidebar {
  background: $left-background-dark;
  color: #fff;
  padding: 30px 0;
  width: 220px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-left: solid 3px transparent;
  }

  li.active {
    border-left-color: #fff;
  }

  a, a:visited {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
  }
}

.layout-content {
  overflow-y: auto;
}

.logo {
  svg {
    height: 17px;
    width: auto;
  }
}

.content-box {
  padding: 20px;
}

rs-chart {
  display: block;
  position: relative;
}

[layout-margin] > * {
  margin: 8px;
}

// ui chart legend
.dygraph-legend {
  font-weight: bold;
  color: $text;
  .highlight {
    font-size: 3rem;
    font-weight: normal;
  }
}

.dygraph-axis-label.dygraph-axis-label-x,
.dygraph-axis-label.dygraph-axis-label-y {
  font-family: $helvetica;
  font-size: 10px;
  font-weight: bold;
  color: rgb(118, 137, 154);
}
